<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NotesSaver</title>
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
</head>
<body>

    <div class="main flex flex-col min-h-screen bg-zinc-900 w-full  text-white">
        
        <div class="form flex p-10 flex-col items-center ">
            <h1 class="text-yellow-500 mb-4 uppercase font-bold">Enter New Task </h1>

            <form action="/create" method="post" class="text-sm ">
                <input class=" outline-none min-w-full bg-zinc-800 p-1 rounded-md m-1" type="text" placeholder="Enter Title"
                name="title">
    
                <textarea 
                type="textarea" placeholder="Enter Description"
                class=" outline-none min-w-full bg-zinc-800 p-1 rounded-md m-1 h-42 wrap resize-none"
                name="desc"></textarea>

                <input 
                class="m-1 bg-green-500 p-1 rounded-md px-4"
                type="submit">
    
            </form>
        </div>


        <div class=" gap-2 tasks flex max-w-2xl p-5 mx-auto justify-center sm:justify-start flex-wrap ">

            <% if(files.length > 0 ){  %>
                <% files.forEach((fileName)=>{ %>
                
                    <div class="task block w-72 bg-zinc-800 p-2 rounded-md px-4">
                        <h1 class="tracking-tight uppercase text-sm"><%= fileName.replace(/-/g, ' ').replace('.txt','') %></h1>
                        <div class="gap-2 flex">
                            <a class="text-blue-500 text-xs  pt-2" href="/readtask/<%=fileName%>">read more</a>

                            <a class="text-red-500 text-xs  pt-2" href="/delete/<%=fileName%>">delete</a> 
                        </div>
                    </div>

                <% }) %>
            <% } else { %>

                <p class=" select-none text-center text-zinc-600 text-sm">No Task Yet</p>

            <% } %>

            
        </div>
        
    </div>

</body>
</html>